# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [41]:

import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [45]:
chipo=pd.read_csv(r'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [46]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [47]:
# Solution 1
len(chipo.index)

4622

In [48]:
# Solution 2

chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

### Step 6. What is the number of columns in the dataset?

In [49]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [51]:
columnNames = chipo.columns.to_list()
print(columnNames)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [52]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [53]:
chipo['item_name'].max()

'Veggie Soft Tacos'

### Step 10. For the most-ordered item, how many items were ordered?

In [56]:
len(chipo[chipo['item_name']==chipo['item_name'].max()])

7

### Step 11. What was the most ordered item in the choice_description column?

In [58]:
chipo['choice_description'][chipo['item_name']==chipo['item_name'].max()]

738     [Tomatillo Red Chili Salsa, [Fajita Vegetables...
781     [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...
1395    [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...
1699    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
2384    [Roasted Chili Corn Salsa, [Fajita Vegetables,...
2851    [Roasted Chili Corn Salsa (Medium), [Black Bea...
3889    [Fresh Tomato Salsa (Mild), [Black Beans, Rice...
Name: choice_description, dtype: object

### Step 12. How many items were orderd in total?

In [59]:
len(chipo['item_name'])

4622

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [60]:
type(chipo['item_price'])

pandas.core.series.Series

#### Step 13.b. Create a lambda function and change the type of item price

In [63]:
chipo=chipo.astype({"item_price":float})

ValueError: could not convert string to float: '$2.39 '

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

In [3]:
# Solution 1

In [4]:
# Solution 2

### Step 17. How many different items are sold?